
/**
*jsx前端页面内部使用className 自定义样式时定义在此文件内 嵌套使用
*/

//编辑页面子表页面 
.childListView{
  //子表 固定高度
 .list-tabs{
   .u-table-body{
     height: 220px;
   }
 }

  //字表修改input间距
 .editable-cell-input-wrapper {
   padding-right: 2px !important;
   .u-form-control {
     height: 30px !important;
   }
 }
 //字表修改input间距
 .u-editable-table .u-table .u-table-row td {
   padding: 5px 1px!important;
 }

 //form修改页面 字表加减按钮
 .addAndDelChildList {
   .u-button-icon + .u-button i{
     padding-left: 0;
   }

   padding-right: 25px;
   //form修改页面 字表加减按钮去边框
   .u-button-border{
     border: 0px solid #a5adba !important;
   }
 }

}

//标签页
.list-tabs{
 //tabs字体加粗
 .u-tabs-tab {
   font-weight: bold;
 }
 .u-tabs-nav-animated {
   font-size: 12px;
 }
}

//form 修改详情页
.calculatorNormalztForm {

   background-color: rgb(241, 242, 245);
   border: 1px solid rgb(193, 199, 208);
   padding: 8px;

   .u-label {
     float: left;
     padding-top: 9px;
     width: 43%;
   }

      //下拉框
     .u-select{
       width: 52%!important;
     }
     //单选下拉框 value
     .u-select-selection-selected-value {
       text-align: left;
       width: 90%;
     }
     //时间
     .datepicker-input-group{
       width: 94%;
       .u-form-control{
         width: 100%;
       }
     }
     //数字
     .u-input-number {
       width: 53%;
     }

     //行距
     .u-form-item {
       min-height: 30px ;
     }
     //详情页 高度自适应
     .u-form {
       height: auto !important;
       overflow: auto;
     }
 
}

//计提弹窗样式
.accrued_modal_form{
  .jic-form{
    background-color: white;
    padding: 0; 
    border: none;
  }
  .u-form-item .u-label{
    display: contents;
  }
  .u-modal-footer{
    padding: 0;
    margin-top: 10px;
  }
  .ref-input-wrap{
    padding-left: 10px;
  }
  .datepicker-container{
    padding-left: 10px;
  }
}

.opt-btns {
 .u-button-sm {
   color: #fff;
   background: #344563;
   border-color: #505F79;
 }
}
.plan_modal_form{
 margin: 5px 15px;
 .modal_header{
     border-radius: 8px 8px 0px 0px;
     background-color: #c1c7d0;
     .u-modal-header{
         padding: 3px;
     }
 }
 .u-modal-content{
     border-radius:8px;
     border: none;
 }
 .steps-contents {
     .u-form{
       height: auto !important;
       overflow: auto;
       text-align: right;
     }
 }
}
.search_form{
 margin: 5px 15px;
 .modal_header{
     border-radius: 10px 10px 0px 0px;
     background-color: #c1c7d0;
     height: 35px;
     .u-modal-header{
         padding: 3px;
     }
 }
 .u-modal-title{
     padding: 5px;
 }
 .u-modal-body{
     padding: 0 !important;
 }
 .u-modal-content{
     border-radius:10px;
     border: none;
 }
 .search_form_left{
     display: inline-block;
     vertical-align: top;
     height:300px;
     width:200px;
     overflow: auto;
 }
 .search_from_right{
     margin-left: 15px;
     display: inline-block;
     vertical-align: top;
     width: 375px;
     max-height: 300px;
     height: 300px;
     box-sizing: border-box;
     text-align: left;
     overflow: auto;
 }
 .between_model{
     display: flex;
     .datepicker-container{
        .u-input-group{
            margin-top:5px;
        }
     }
     .u-input-group{
         bottom:13px;
     }
 }
}
